###############################################
# Aggregated convenience file
# For full environment use: pip install -r requirements-full.txt
# For tiers: basic / intermediate / advanced / full
# This file references the full specification only.
###############################################

-r requirements-full.txt
